{% extends 'contacts/base.html' %}

{% block content %}
<h1>{{ person.first_name }} {{ person.last_name }}</h1>
<ul>
    {% if person.organization.name %}
    <li><a href="{% url 'contacts:detail_organization' person.organization.id %}">{{ person.organization.name }}</a></li>
    {% endif %}

    {% if person.street_address_1 %}
	<li>{{ person.street_address_1 }}</li>
    {% endif %}

    {% if person.street_address_2 %}
	<li>{{ person.street_address_2 }}</li>
    {% endif %}

    {% if person.city or person.state or person.postal_code %}
	<li>{{ person.city }}, {{ person.state }} {{ person.postal_code }}</li>
    {% endif %}

    {% if person.email_address %}
	<li><a href="mailto:{{ person.email_address }}">{{ person.email_address }}</a></li>
    {% endif %}

    {% if person.phone_number %}
	<li><a href="tel:{{ person.phone_number }}">{{ person.phone_number }}</a></li>
    {% endif %}
</ul>

<a href="{% url 'contacts:edit' person.id %}" class="btn btn-primary" role="button">Edit Contact</a>
<a href="{% url 'contacts:delete' person.id %}" class="btn btn-danger" role="button">Delete Contact</a>
{% endblock %}
