{% extends 'contacts/base.html' %}

{% block content %}
<h1>{{ organization.name }}</h1>

{% if people %}
    <table class="table">
    <tr><th>Name</th><th>Email</th><th>Phone Number</th></tr>
    {% for person in people %}
        <tr>
            <td>
                <a href="{% url 'contacts:detail' person.id %}">{{ person.first_name }} {{ person.last_name }}</a>
            </td>
            <td>{{ person.email_address }}</td>
            <td>{{ person.phone_number }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No contacts available.</p>
{% endif %}

{% endblock %}
